# {{ ansible_managed }}

{% set _api_threads = ansible_processor_vcpus|default(2) // 2 %}
{% set api_threads = _api_threads if _api_threads > 0 else 1 %}

[DEFAULT]
verbose = {{ verbose }}
debug = {{ debug }}
fatal_deprecations = {{ manila_fatal_deprecations }}
my_ip = {{ manila_management_address }}

osapi_volume_workers = {{ manila_osapi_volume_workers | default(api_threads) }}

rootwrap_config = /etc/manila/rootwrap.conf
api_paste_config = /etc/manila/api-paste.ini
auth_strategy = keystone

## manila API's enabled
enable_v1_api = {{ manila_enable_v1_api }}
enable_v2_api = {{ manila_enable_v2_api }}

## RabbitMQ
rpc_backend = {{ manila_rpc_backend }}

# Following opt is used for definition of share backends that should be enabled.
# Values are conf groupnames that contain per manila-share service opts.
enabled_share_backends = cephfs1

# Enable protocols ‘NFS’ and ‘CIFS’ as those are the only supported
# by Generic driver that we are configuring in this set up.
# All available values are (‘NFS’, ‘CIFS’, ‘GlusterFS’, ‘HDFS’, 'CEPHFS')
enabled_share_protocols = NFS,CIFS,CEPHFS

# Manila requires ‘share-type’ for share creation.
# So, set here name of some share-type that will be used by default.
default_share_type = default_share_type

state_path = /opt/stack/data/manila
osapi_share_extension = manila.api.contrib.standard_extensions
rootwrap_config = /etc/manila/rootwrap.conf
api_paste_config = /etc/manila/api-paste.ini
share_name_template = share-%s

# Set scheduler driver with usage of filters. Recommended.
scheduler_driver = manila.scheduler.drivers.filter.FilterScheduler

## Nova
nova_catalog_info = {{ manila_nova_catalog_info }}
nova_catalog_admin_info = {{ manila_nova_catalog_admin_info }}

#[neutron]
# Only needed when the networking drivers use nova and "generic" driver,
# as used in this example.
#username = neutron
#password = %password%
#project_domain_id = default
#project_name = service
#user_domain_id = default
#auth_url = http://127.0.0.1:5000
#auth_type = password

#[cinder]
# Only needed by generic or windows drivers, the only drivers
# as of Mitaka that require it.
#username = cinder
#password = %password%
#project_domain_id = default
#project_name = service
#user_domain_id = default
#auth_url = http://127.0.0.1:5000
#auth_type = password

## Glance
# TODO(odyssey4me): Remove this conditional once https://review.openstack.org/299928 has merged
#{% if manila_glance_api_servers is defined %}
#glance_api_servers = {{ manila_glance_api_servers }}
#{% else %}
#glance_host = {{ manila_glance_host }}
#glance_port = 9292
#{% endif %}
#glance_num_retries = 0
#glance_api_version = {{ manila_glance_api_version }}

#volume_clear = {{ manila_volume_clear }}
#volume_clear_size = {{ manila_volume_clear_size }}
#volume_clear_ionice = {{ manila_volume_clear_ionice }}
#volume_name_template = {{ manila_volume_name_template }}

storage_availability_zone = {{ manila_storage_availability_zone }}
default_availability_zone = {{ manila_default_availability_zone }}

#iscsi_helper = {{ manila_iscsi_helper }}
#iscsi_iotype = {{ manila_iscsi_iotype }}
#iscsi_ip_address = {{ manila_storage_address }}
#iscsi_num_targets = {{ manila_iscsi_num_targets }}
#iscsi_port = {{ manila_iscsi_port }}

client_socket_timeout = {{ manila_client_socket_timeout }}

#{% if manila_default_volume_type is defined %}
#default_volume_type = {{ manila_default_volume_type }}
#{% endif %}

#{% if manila_backends is defined %}
#enabled_backends={% for backend in manila_backends|dictsort %}{{ backend.0 }}{% if not loop.last %},{% endif %}{% endfor %}

{% if manila_ceilometer_enabled %}
[oslo_messaging_notifications]
driver = messagingv2
{% endif %}

# All given backend(s)
{% for backend_section in manila_backends|dictsort %}
[{{ backend_section.0 }}]
{% for key, value in backend_section.1.items() %}
{{ key }}={{ value }}
{% endfor %}
{% if manila_nfs_client is defined %}
nfs_shares_config={{ manila_nfs_client.nfs_shares_config }}
{% endif %}

{% endfor %}
{% endif %}

[database]
connection = mysql+pymysql://{{ manila_galera_user }}:{{ manila_container_mysql_password }}@{{ manila_galera_address }}/{{ manila_galera_database }}?charset=utf8

[oslo_messaging_rabbit]
rabbit_port = {{ rabbitmq_port }}
rabbit_userid = {{ manila_rabbitmq_userid }}
rabbit_password = {{ manila_rabbitmq_password }}
rabbit_virtual_host = {{ manila_rabbitmq_vhost }}
rabbit_hosts = {{ rabbitmq_servers }}
rabbit_use_ssl = {{ rabbitmq_use_ssl }}

[oslo_concurrency]
lock_path = /var/lock/manila

[profiler]
profiler_enabled = {{ manila_profiler_enabled }}
trace_sqlalchemy = {{ manila_profiler_trace_sqlalchemy }}

[keymgr]
encryption_auth_url = {{ keystone_service_internaluri }}/v3

[keystone_authtoken]
insecure = {{ keystone_service_internaluri_insecure | bool }}
auth_plugin = {{ manila_keystone_auth_plugin }}
signing_dir = /var/cache/manila
auth_url = {{ keystone_service_adminurl }}
auth_uri = {{ keystone_service_internaluri }}
project_domain_id = {{ manila_service_project_domain_id }}
user_domain_id = {{ manila_service_user_domain_id }}
project_name = {{ manila_service_project_name }}
username = {{ manila_service_user_name }}
password = {{ manila_service_password }}

memcached_servers = {{ memcached_servers }}

token_cache_time = 300
revocation_cache_time = 60

# if your memcached server is shared, use these settings to avoid cache poisoning
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcached_encryption_key }}

# if your keystone deployment uses PKI, and you value security over performance:
check_revocations_for_cached = False

[london]
# This is custom opt group that is used for storing opts of share-service.
# This one is used only when enabled using opt `enabled_share_backends`
# from DEFAULT group.

# Set usage of Generic driver which uses cinder as backend.
share_driver = manila.share.drivers.generic.GenericShareDriver

# Generic driver supports both driver modes - with and without handling
# of share servers. So, we need to define explicitly which one we are
# enabling using this driver.
driver_handles_share_servers = True

# Generic driver uses a glance image for building service VMs in nova.
# The following options specify the image to use.
# We use the latest build of [1].
# [1] https://github.com/openstack/manila-image-elements
service_instance_password = {{ manila_service_password }}
service_instance_user = {{ manila_service_user_name }}
service_image_name = manila-service-image

# These will be used for keypair creation and inserted into service VMs.
path_to_private_key = /home/stack/.ssh/id_rsa
path_to_public_key = /home/stack/.ssh/id_rsa.pub

# Custom name for share backend.
share_backend_name = LONDON

[cephfs1]
driver_handles_share_servers = False
share_backend_name = CEPHFS1
share_driver = manila.share.drivers.cephfs.cephfs_native.CephFSNativeDriver
cephfs_conf_path = /etc/ceph/ceph.conf
cephfs_auth_id = manila
cephfs_cluster_name = ceph
cephfs_enable_snapshots = True
